%h1 Don't panic. We've got your back.
.copy_block
  %h2 Who we are:
  %p We're a group of insomniac ruby developers based in Los Angeles. We specialize in providing emergency support for clients and developers who need to get things up and running NOW.
.copy_block
  %h2 What we do:
  %p
    %strong Server Support:
    Is your site down? Give us a call and we'll get it back up for you ASAP. No experience necessary. We'll tell you what we need from you to get things working.
  %p
    %strong Code Support:
    Is your site not working the way you need it to? Give us a call and tell us how it's supposed to work and we'll build it for you, starting now.
  %p
    %strong Database Support:
    Something go wrong with your database? Or do you just need a CSV of users to hand over by 'End of Day?' We'll get what you need and keep your data safe.
.copy_block
  %h2 What we charge:
  %p
    %strong $50 Consultation fee.
    To keep ourselves available to serious customers we charge a $50 consultation fee to take a look at your problem. We'll tell you if we can solve your problem and how long we think it will take. If you end up hiring us, we'll wrap this into the first hour fee.
  %p
    %strong $150/hr.
    We bill in 15 minute segments and when we're clocked in we're working, not looking at pictures of cats. "Woah Dude, $150/hr is expensive!" you might be saying. "Nu uh," we say back. You're paying experts to take your call 24/7 and fly in like giant eagles to save you in your darkest hour. We think $150 an hour is downright cheap.
.copy_block
  %h2 Hire us:
  %p
    %strong Ready to get started?
    Here's how to get ahold of us:
  %p
    %strong email:
    != link_to "rubypanicbutton@gmail.com", "mailto:rubypanicbutton@gmail.com"
    %br
    %strong phone:
    +1 (520) 275-8600
    %br
    %strong gchat: 
    rubypanicbutton@gmail.com